{% extends 'layout.html' %}
{% load staticfiles %}

{% block main_content %}
<h3>{{project.name}}</h3>
{% if project.owner == user %}
<a href={% url 'dumbo:edit_project' project.slug %}>Edit Project</a> |
<a href={% url 'dumbo:delete_project' project.slug %}>Delete Project <p/></a>
{% else %}
Owner: {{project.owner}} <p />
{% endif %}
<a href={% url 'dumbo:create_issue' project.slug %}><h6>Create an Issue</h6></a>
<p />
<a href={{project.link}}>Project Website</a><p />
{{project.details}}<p />
<br />
<hr>
<h3>Issues</h3>
{% for i in issues %}
<div style="background:silver">

  <a href={% url "dumbo:view_issue" i.id %}> {{ i.title }} : {{i.content}}<br /></a>
  Status:{{i.tag}}<br>
  Created on:{{i.timestamp}} Last Updated:{{i.last_updated}}<br />

</div>
<br>
{% empty %}
No issues
{% endfor %}

{% endblock %}
