{% extends 'layout.html' %}
{% load staticfiles %}

{% block main_content %}
<h3>{{project.name}}</h3>
{% if project.owner == user %}
<a href={% url 'dumbo:edit_project' project.slug %}>Edit Project</a> |
<a href={% url 'dumbo:delete_project' project.slug %}>Delete Project <p/></a>
{% else %}
Owner: {{project.owner}} <p />
{% endif %}
<a href={% url 'dumbo:create_issue' project.slug %}><h6>Create an Issue</h6></a>
<p />
<a href={{project.link}}>Project Website</a><p />
{{project.details}}<p />
<br />
<hr>
<h3>Issues</h3>
{% for i in issues %}
{{ i.title }} : {{i.content}}<br />
Status:{{i.tag}} Created on:{{i.timestamp}} <br />

{% if i.attachment %}
{{i.attachment.url}}
{% else %}
No attachment
{% endif %}

{% empty %}
No issues
{% endfor %}

{% endblock %}
